<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebase_clemenisle_ev">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="iBooking"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseClemenisleEV">
        <activity
            android:name=".OnlinePaymentActivity"
            android:exported="true" />
        <activity
            android:name=".ChatListActivity"
            android:exported="true" />
        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".Classes.Capture"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
        <activity
            android:name=".DriverActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnTheSpotActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreferenceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".AppStatusActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RouteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostRegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StreetWebView"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectedSpotActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwvzZif3C-_7Qw3EyVxfOfTa56Fb-mH5k" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>